<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homepage</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/corona.js"> </script>
<link href="https://fonts.googleapis.com/css?family=Courgette|Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/corona.css"/>
</head>
<body>
	<header id="title"><h2>COVID-19 Coronavirus</h2>
				<h5 style="margin-left:4vw; color:red">#Stay home.It could save lives!!!</h5>
	</header>
	<section style="margin-left:35%;">
		<article>
			<div id="total">Total cases <br> &nbsp </div> 
			<div id="active">Active cases <br> &nbsp </div> 
			<div id="deaths">Deaths <br>&nbsp </div>
			<div id="recovered">Recovered <br>&nbsp </div>
			<div id="percentage">The percentage of death <br>&nbsp </div>
		</article>
		<article>
			<input type="search" id="site-search" name="q" placeholder="Search country...">
				<button id="search-button" value="Search" 
					onclick="getDetail()">Search</button>
			<ul id = "list">
			</ul>
		</article>
			<div id="msg"></div>
	</section>
	<footer>Created by Bojan Vujnovic</footer>
</body>
</html>